.zx-header {
    padding: 0 16px !important;
    background: #ffffff !important;
    border-bottom: 1px solid #dedede;
    display: flex;
    .zx-logo {
        height: 48px;
        flex: 1;
        img {
            max-height: 100%;
        }
    }
}

.site-layout-background {
    background: #fff;
}